{% extends "base.html" %}

{% block announce %}
    📢 Signup for a free session to discover R2Devops using your project 👉
<a href="https://calendly.com/r2devops/introduction" class="banner-link">
    I book my meeting
</a>
    🔥
{% endblock %}


{% block extrahead %}
<!-- Plausible -->
<script async defer data-domain="r2devops.io" src="https://plausible.io/js/plausible.js"></script>
<!-- End Plausible -->
{% endblock %}
