# All

<!-- To display the list of jobs in stages -->

Jobs index. They are sorted using the [hub default stages](/use-the-hub#stages).

{% for stage in index %}
##  {{index[stage].icon}} {{index[stage].name}}

*{{index[stage].description}}*

| Name <img width=200/> | Description |
| ---- | ----------- |
  {% for job in index[stage].content -%}
  | {% if job.icon is defined -%} {{ job.icon }} {% endif %}[{{- job.name }}]({{stage}}/{{ job.name }}/)| {{ job.description }} |
  {% endfor %}
{% endfor %}
