---
description: {{ job_metadescription }}
---


# {% if job_icon %} {{ job_icon }} {% endif %} {{ job_name | capitalize }}

<div class="labels_zone">

{% if job_labels %}
  {% for label in job_labels -%}
  <span class="label">
  <span class=""> {{label}} </span>
  </span>
  {% endfor -%}
{% endif %}

</div>

=== "Documentation"

    {{ readme | indent(4, False) }}

    {% if linked_issues %}

    ## Linked Issues

    {% for issue in linked_issues[:linked_issues_limit] %}
    👉🏼 &nbsp; [#{{issue.iid}} - {{ issue.name }}]({{ issue.url }})
    {% endfor %}
    {% if linked_issues[linked_issues_limit] %}
    - And more...
    {% endif %}

    <a href="{{linked_issues_url}}" class="md-button  border-radius-10 linked_issues" data-hover="See all issues 🔎">
    <span id="see_all_issues" >See all issues 🔎</span>
    </a>
    <a href="{{create_issue_url}}" class="md-button  border-radius-10 linked_issues" data-hover="Create an issue ＋">
    <span id="create_issue">Create an issue ➕</span>
    </a>
    {% endif %}

    {% if screenshots_files %}
    ## Gallery

    <div id="primary-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for screenshots in screenshots_files -%}
                <li class="splide__slide primary__slider"><img src="{{screenshot_path}}/{{screenshots}}" /></li>
                {% endfor -%}
            </ul>
        </div>
    </div>

    <div id="secondary-slider" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for screenshots in screenshots_files -%}
                <li class="splide__slide secondary__slider" style="background-size: cover;" ><img src="{{screenshot_path}}/{{screenshots}}" /></li>
                {% endfor -%}
            </ul>
        </div>
    </div>
    {% endif %}

    <hr/>

    ## License

    ??? info "{{ license_name }}"
    {%- for line in license -%}
    {%- if line %}
        {{ line }}
    {%- endif -%}
    {%- endfor %}

    <hr/>

    ## Changelog

    * **[latest]({{ latest.url }})** (current -> `{{ latest.version }}`):
    > ```
    {{ latest.url }}
    ```

    {% for version in changelogs -%}
    ??? "{{ version.version }}"
        > ```
        {{ version.url }}
        ```
    {% for line in version.changelog %}
        {% if line -%}
        {{ line }}
        {% endif -%}
    {%- endfor %}
    {% endfor %}

    {%- if code_owner %}
    -- 🔨 Maintainer: <img src='{{ gitlab_image }}' alt='avatar' style='width: 20px; height: 20px; border-radius: 50%'> [{{ code_owner_name }}]({{ code_owner_url }}) @{{ code_owner }}
    {%- endif %}

=== ".gitlab-ci.yml"

    ```yaml linenums="1"
    {{ job_raw_content | indent(4, False) }}
    ```

    <hr/>

{% if screenshots_files %}
<script>
checkGallery();
function checkGallery() {
    if (typeof initSplide != "function")
    setTimeout(() => checkGallery(), 100);
    else
    initSplide();
}
</script>
{% endif %}


<script>
checkSidebarFade();
function checkSidebarFade() {
    if (typeof loadListeners != "function")
        setTimeout(() => checkSidebarFade(), 100);
    else
        loadListeners();
}
</script>
